.accueil {
  background-color : green;
  color: white;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: rationale;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}
