body {
  background-color : green;
  color: white;
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animatedDiv {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  transition: all 2s ease-in-out;
}

.avatar{
  height: 5cm;
  width: 5cm;
}
