.accueil {
  background-color : green;
  color: white;
 
}

.divOfDeath {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar{
  height: 5cm;
  width: 5cm;
}
